# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore screenshots
*.png

# Ignore Calabash Android test servers
test_servers

# Ignore Calabash iOS files
.irb-history
calabash.framework

# Ignore Intellij project files
.idea
