github "ChaiOne/Cely"
github "thii/FontAwesome.swift"
github "Moya/Moya"
github "thoughtbot/Argo"
github "thoughtbot/Curry"
github "SwifterSwift/SwifterSwift"
github "SwiftKit/Cuckoo"
github "appsquickly/Typhoon"
github "ReactiveX/RxSwift"
